@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700&display=swap');
@import url('../decss/theme.css');
@import url('../decss/reset.css');
@import url('../decss/components.css');
@import url('../decss/font.css');
@import url('../decss/classes.css');
@import url('../decss/components/button.css');
@import url('../decss/components/link.css');
@import url('../decss/components/input.css');
@import url('../decss/components/classes/button.css');
@import url('../decss/scrollbar.css');


:root {
    --max-width: 1200px;

    --app-bg: #151f32;
    --app-bg-light: #19304e;
    --color-bg-1: #253658;
    --color-bg-2: #254774;
    --color-text: white;

    --border-radius-2: 1rem;
    --border-width: 2px;

    --game-card-width: 250px;
}

body {
    font-family: 'Heebo', sans-serif;
    color: white;
}

.cool-highlight {
    cursor: pointer;
    transition: outline .2s ease-in-out, outline-offset .2s ease-in-out;
}

.cool-highlight:hover {
    outline: 5px solid var(--color-primary);
    outline-offset: var(--v-gap);
}

main {
    margin-top: var(--v-gap-l);
}

button, .button {
    padding: var(--v-gap) calc(var(--h-gap) * 2);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
}

label {
    color: var(--color-text)
}

.content {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--max-width);
}

.card {
    background-color: var(--app-bg-light);
    box-shadow: none;
    border-radius: var(--border-radius-2);
    border-width: 0;
}

.games-grid {
    max-width: var(--max-width);
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--game-card-width), 1fr));
    grid-gap: 1rem;
    padding: 1rem;
}

.game-tag {
    padding: 0 var(--h-gap);
    height: fit-content;
    min-height: auto;
    border-radius: var(--border-radius-2);
}

.game-card {
    color: var(--color-text);
    position: relative;
    height: 350px;
    width: var(--game-card-width);
}

.game-card .tags-list {
    max-height: 28px;
    overflow: hidden;
    transition: max-height 0.6s ease-in-out;
}

.game-card:hover .tags-list {
    max-height: 150px;
}

.game-card a:hover {
    text-decoration: none;
}

a.user-card:hover {
    text-decoration: none;
}

.game-image {
    width: 100%;
    height: calc(100% - 5px);
    object-fit: cover;
    border-radius: var(--border-radius-2);
}

.game-data {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: fit-content;
    min-height: calc(var(--v-gap) * 10);
    background-color: var(--app-bg-light);
    border-radius: var(--border-radius-2);
    transition: height 1s ease;
}

.game-card-anchor {
    width: fit-content;
    margin: auto;
}

.nav-content {
    width: 100%;
    margin: auto;
    max-width: var(--max-width);
    height: var(--v-gap-l);
}

.app-name {
    font-size: 30px;
    margin-right: var(--h-gap);
}

.app-name a {
    padding-bottom: 0;
}

.nav-content a {
    color: var(--color-text);
    min-height: auto;
}

.nav-content a.button {
    color: var(--color-primary);
    font-size: 14px;
}

.nav-content a:hover {
    text-decoration: none;
}

.nav-content a.active {
    color: var(--color-primary);
    font-weight: bold;
}

.login-form {
    padding: 0 var(--v-gap);
    width: 300px;
}

.login-form h3 {
    color: var(--color-text);
    font-size: 2rem;
}

.login-page_login-card {
    margin: auto;
    height: fit-content;
    padding-bottom: calc(var(--v-gap) * 2);
}

.game-details-main-img {
    width: 100%;
    height: 100%;
    max-height: 600px;
    object-fit: cover;
    border-radius: var(--border-radius);
}

.hoverable:hover {
    box-shadow: var(--card-bshadow);
}

.mt-def {
    margin-top: var(--v-gap);
}

.mt-def-l {
    margin-top: var(--v-gap-l);
}

.forgot-password-text {
    text-align: justify;
}

.comments-container {
    max-width: 500px;
}

.comment-card {
    width: 100%;
}

textarea {
    min-height: 100px;
    resize: vertical;
}

.comments-container textarea {
    width: 100%;
    min-height: 100px;
    flex: 1;
}

.reply-comment-form-container form {
    width: 100%;
}

.slide-up {
    overflow: hidden;
    transform: translateY(1000%);
    animation: 0.2s slide-up ease-out;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

@keyframes slide-up {
    from {
        transform: translateY(1000%);
    }
    to {
        transform: translateY(0);
    }
}

.gap-0 {
    gap: 0;
}

.comment-time {
    font-size: 14px;
    color: var(--color-text-shadow);
    float: right;
}

.top-games-grid {
    max-width: var(--max-width);
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    @media (min-width: 768px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    grid-gap: 1rem;
    padding: 1rem;
}

.top-games-grid .game-card {
    /*height: 500px;*/
    width: 100%;
}

.top-games-grid a:first-child {
    width: 100%;
    grid-column: 1/-1;
}

.top-games-grid .game-card:first-of-type {
    height: 500px;
}

.top-games-grid a:nth-child(3),
.top-games-grid a:nth-child(2) {
    grid-column: span 2;
}

.top-games-grid .game-card:nth-of-type(1) {
    height: 500px;
}


